body {
	background-color: #EEE;
	font-family: Helvetica, Arial, sans-serif;
}

#container{

	height: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#header{
	width: 780px;
	padding: 10px;
}

.banner{
    background-image: url(img/banner1.jpg);
	height: 380px;
	max-width: 780px;
	margin-left: auto;
    margin-right: auto;
}

@font-face{
	font-family: 'TitleFont';
	src: url(fonts/OldLondon.ttf);
}

h1{
	text-align: center;
	font-family: 'TitleFont';
	font-size: 60px;
}

#content{
	background-color: white;
	width: 780px;
	padding: 10px;
}

#nav{
	background-color: white;
	width: 160px;
	padding: 10px;
	float: left;
}

ul{
	max-width: 160px;
	list-style-type: none;
    margin: 10px;
    padding: 10px;
    background-color: orange;
    border: 1px solid #555;
    float: left;
}

li a{
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
    float: left;
}

li a:hover {
    background-color: #555;
    color: white;
    float: left;
}

li:last-child {
    border-bottom: none;
    float: left;
}

.main{
	background-color: white;
	width: 610px;
	padding: 10px;
	border: 1px solid #555;
	margin: 10px;
	text-align: justify;
	float: right;
}

h2{
	margin: 0px;
}


